*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 body{
    min-height: 100vh;
    background-color: #fff;
    color: #333;
    padding-top: 40px;
    border-radius: 25px;
}

.conteudoGeral{
    display:flex;
    min-height: 100vh;
    width:100%;
}

nav{
    flex-shrink: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    left:0;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #27b2d4;
}

nav .PerfilMenu{
    display:flex;
    align-items: center;
    margin: 0 24px;
    margin-top: 25px;
    margin-bottom: 35px;

}

.PerfilMenu .imgPerfil{
    width:45px;
    height: 45px;
    border-radius: 25px;
    object-fit: cover;
    margin-right:14px;
    cursor: pointer;
    font-size:24px;
}

nav .sidebar{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 250px;
    padding:20px 0px;
    background-color: #27b2d4;

} 

.sidenar .sidebar-content{
    padding: 30px 16px;

}

.sidebar-content .list{
    list-style:none;
}


.list .nav-link {
    display:flex;
    align-items:center;
    padding: 10px 12px;
    margin: 15px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color:#464646ff;
}

.Others{
    padding-top:300px;
}


.nav-link:hover{
    background-color: #fff;
    color:#333;
}

.nav-link:hover .icon{
    color:#333;
}

.nav-link .icon{
    margin-right: 15px;
    font-size: 20px;
}

.nav-link .link{
    padding-top: 5px;
}

/* .conteudoPrincipal{
    flex-grow:1;
    padding: 20px;


} */

 header{
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1.5rem;
}
.container{
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.resumo{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card {
    flex: 1;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
     


}

.card.entrada h2 { color: #28a745;}
.card.saida h2 { color:#dc3545;}
.card.total h2 { color: #007bff;}

.formulario, .historico {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

form {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

}

input, select, button{
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input, select  {
    flex: 1;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: #218838;

}
table {
    width: 100%;
    margin-top: 0.7rem;
    border-collapse: collapse;
}

th, td{
    padding: 0.7rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

 